<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>roof_7</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 237.000,126.000 }</string>	
								<string>{ 237.000,132.000 }</string>	
								<string>{ 224.000,126.000 }</string>
							</array>
							<array>	
								<string>{ 0.000,95.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 351.000,0.000 }</string>	
								<string>{ 351.000,84.000 }</string>	
								<string>{ 342.000,85.000 }</string>	
								<string>{ 31.000,103.000 }</string>
							</array>
							<array>	
								<string>{ 334.000,88.000 }</string>	
								<string>{ 322.000,89.000 }</string>	
								<string>{ 31.000,103.000 }</string>	
								<string>{ 342.000,85.000 }</string>
							</array>
							<array>	
								<string>{ 91.000,121.000 }</string>	
								<string>{ 85.000,118.000 }</string>	
								<string>{ 224.000,112.000 }</string>	
								<string>{ 224.000,126.000 }</string>	
								<string>{ 102.000,123.000 }</string>
							</array>
							<array>	
								<string>{ 47.000,109.000 }</string>	
								<string>{ 31.000,103.000 }</string>	
								<string>{ 322.000,89.000 }</string>	
								<string>{ 242.000,109.000 }</string>	
								<string>{ 224.000,112.000 }</string>	
								<string>{ 57.000,110.000 }</string>
							</array>
							<array>	
								<string>{ 129.000,132.000 }</string>	
								<string>{ 102.000,123.000 }</string>	
								<string>{ 224.000,126.000 }</string>	
								<string>{ 237.000,132.000 }</string>
							</array>
							<array>	
								<string>{ 60.000,112.000 }</string>	
								<string>{ 57.000,110.000 }</string>	
								<string>{ 224.000,112.000 }</string>	
								<string>{ 85.000,118.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

